#header {
  width: 98%;
  height: 160px;
  border: 1px solid #000;
  background-color: #082146;
  color: #fff;
}
.box {
  width: 280px;
  height: 120px;
  border: 3px solid #fff;
  float: left;
  margin: 20px;
}
.extra {
  width: 650px;
}
#sub-header {
  background-color: #ecf4fd;
  width: 98%;
  min-height: 280px;
  height: auto;
}
.intro {
  padding: 20px;
  border: 0px solid #000;
  width: 500px;
  height: 200px;
  margin-left: -120px;
  float: left;
}

.my-dp {
  border: 0px solid #000;
  width: 300px;
  height: 120px;
  float: right;
}
.my-dp img {
  margin-top: 10px;
  border-radius: 126px;
  height: 260px;
  width: 260px;
  border: 2px solid #fff;
  object-fit: cover;
}

.content {
  background-color: #fff;
  width: 98%;
  min-height: 350px;
  height: auto;
}
h3 {
    font-family: Arial, sans-serif;
    font-weight: 700;
    color: #000;
}
.about-me {
  width: 300px;
  border: 0px solid #000;
  height: 220px;
  margin-left: 120px;
  float: left;
}
.about-me p{
    text-align: justify;
    font-size: 12px;
    font-family: Arial, sans-serif;
}
.skills {
  width: 250px;
  border: 0px solid #000;
  height: 220px;
  margin-left: 120px;
  float: left;
}
.education {
  width: 450px;
  border: 0px solid #000;
  height: 220px;
  margin-left: 120px;
  float: left;
}
#footer {
  background-color: #082146;
  text-align: center;
  color: #fff;
  height: 24px;
  padding-top: 5px;
}
