#header {
  width: 98%;
  height: 160px;
  border: 1px solid #000;
  background-color: #082146;
  color: #fff;
}
.box {
  width: 280px;
  height: 120px;
  border: 1px solid #fff;
  float: left;
  margin: 20px;
}
#sub-header {
  background-color: #ecf4fd;
  width: 98%;
  min-height: 280px;
  height: auto;
}
.intro {
  padding: 20px;
  border: 0px solid #000;
  width: 500px;
  height: 200px;
  margin-left: -120px;
  float: left;
}

.my-dp {
  border: 0px solid #000;
  width: 300px;
  height: 120px;
  float: right;
}
.my-dp img {
  border-radius: 100px;
  height: 234px;
}

.content {
  background-color: #fff;
  width: 98%;
  min-height: 350px;
  height: auto;
}
.about-me {
  width: 200px;
  border: 1px solid #000;
  height: 220px;
  margin-left: 120px;
  float: left;
}
.skills {
  width: 250px;
  border: 1px solid #000;
  height: 220px;
  margin-left: 120px;
  float: left;
}
.education {
  width: 450px;
  border: 1px solid #000;
  height: 220px;
  margin-left: 120px;
  float: left;
}
#footer {
  background-color: #082146;
  text-align: center;
  color: #fff;
  height: 24px;
  padding-top: 5px;
}
